<div class = "about">

  <div class = "background">
    <div class = "content">
      <h1>About Us<h1/>
    </div>
  </div>



  <div class="features">
       <div class="feature text-center">
         <%= fa_icon 'phone 5x' %>
         <h3>017-5131231</h3>
       </div>
       <div class="feature text-center">
         <%= fa_icon 'envelope-o 5x'%>
         <h3>azizahsham@yahoo.com</h3>
       </div>
  </div>



</div>
