<div class="border">
    <div class="topicdescription">
      <h3 class="main-text"><%= link_to topic.title, topic_posts_path(topic) %></h3>
      <h5 class="description"><%= topic.description %></h5>
    </div>
    <div class="edit_button">
      <%= link_to "Edit", edit_topic_path(topic), class: "btn btn-success btn-block" %>
    </div>
</div>
